/*******************  FONT: NOTO SANS  ************************************************************/

@import url('/noto-sans.css');



/*******************  GENERAL STYLES  *************************************************************/

body
{
	position: relative;

	display: grid;
	grid-template-columns: clamp(15rem, 25vw, 20rem) 1fr;
	grid-template-areas:
		'topbar topbar'
		'sidebar main'
		'footer footer';

	min-width: 44rem;

	font-size: 1rem;
	font-family: 'Noto Sans';
	font-weight: 400;
	font-style: normal;
	text-decoration: none;

	color: #000;
}



* {
	box-sizing: border-box;
	padding: 0;
	border: 0;
	margin: 0;

	
	font-size: inherit;
	text-align: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: inherit;
	text-transform: inherit;
	
	color: inherit;
}



/*******************  TOPBAR  *********************************************************************/

.topbar
{
	position: sticky;
	top: 0;
	left: 0;

	grid-area: topbar;
	z-index: 2;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	background-color: hsl(0, 100%, 30%);
	box-shadow: 0 -8px 4px 10px #000a;
	color: #fff;
}



.topbar__title
{
	display: block;
	padding: 0.5rem 1.5rem;

	font-size: 1rem;
	font-weight: 900;
	text-transform: uppercase;
}



/*******************  SIDEBAR  ********************************************************************/

.sidebar
{
	grid-area: sidebar;
	z-index: 1;
	
	display: block;
	padding: 2rem 0;
	
	background-color: hsl(0, 71%, 45%);
	box-shadow: -8px 0 4px 10px #0007;
	color: #fff;
}



.sidebar__title
{
	display: block;
	margin: 0 10% 1.2rem;

	font-size: 1.1rem;
	font-weight: 900;
	text-transform: uppercase;
}



.sidebar__subjectList
{
	display: block;
	list-style-type: none;
}



.sidebar__subjectLink
{
	display: block;
	padding: 0.8rem 10% 0.8rem 15%;
}



.sidebar__subjectLink:hover
{
	position: relative;
	z-index: 2;

	background-color: hsl(0, 74%, 58%);
	box-shadow:
		4px 0 #fff inset,
		-3px 0 5px #0002;
}



/*******************  MAIN  ***********************************************************************/

.main
{
	grid-area: main;
	z-index: 0;

	display: block;
	min-height: calc(100vh - 8.825rem);
	padding: 2.2rem 9% 3rem 7%;
}



.subjectTitle
{
	display: block;
	margin-bottom: 2.5rem;

	font-size: 1.8rem;
	font-weight: 900;

	color: hsl(0, 100%, 8%);
}



.sectionList
{
	display: block;
	margin-left: 7%;

	list-style-type: none;
}



.section
{
	display: block;
	margin-top: 2.5rem;
}



.section__title
{
	display: block;
	margin-bottom: 1.7rem;

	font-size: 1.3rem;
	font-weight: 700;

	color: hsl(0, 100%, 8%);
}



.section__courseNoteList
{
	display: block;
	margin-left: 6%;

	list-style-type: none;
}



.section__courseNote
{
	display: block;
	margin-top: 0.7rem;
}



.section__courseNoteLink
{
	position: relative;

	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}



.section__courseNoteLink::before
{
	content: '\1F5CE';

	position: relative;
	top: -0.2rem;
	left: 0;

	display: block;
	margin-right: 1rem;
	font-size: 1.2rem;
}



.section__courseNoteNo
{
	display: block;
	margin-right: 0.3rem;
}



.section__courseNoteTitle
{
	display: block;
}



.section__courseNoteLink:hover .section__courseNoteTitle
{
	text-decoration: underline;
}



/*******************  FOOTER  *********************************************************************/

.footer
{
	grid-area: footer;
	z-index: 2;

	display: block;
	padding: 1.5rem 0;

	text-align: center;
	font-weight: 500;

	background-color: hsl(0, 100%, 30%);
	box-shadow: 0 8px 4px 10px #000a;
	color: #fff;
}



.footer__title
{
	display: block;
	margin-bottom: 0.7rem;
	font-size: 1.1rem;
}



.footer__inextremis
{
	display: block;
	font-size: 0.9rem;
}
