* {
	box-sizing: border-box;
	padding: 0;
	border: 0;
	margin: 0;


	font-size: inherit;
	text-align: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: inherit;
	text-transform: inherit;
	
	color: inherit;
}
